# Node.js залежності
node_modules/
npm-debug.log*
yarn-error.log
pnpm-debug.log
yarn.lock
pnpm-lock.yaml

# Husky (гілка з hook-ами)
.husky/

# Логи
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE та редактори
.vscode/
.idea/
*.iml

# MacOS
.DS_Store

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Кеші
.cache/
dist/
build/
out/
.next/
coverage/
*.tsbuildinfo

# Бази даних
*.sqlite
*.db
dump.sql

# Docker (якщо використовуєш)
docker-compose.override.yml
.dockerignore

# Firebase, AWS, Google Cloud, Heroku
.firebase/
.awsmobile/
.sagemaker/
.terraform/
